@page "/Ticket/Index"
@inject TicketService ticketService
@rendermode InteractiveServer

<EditForm Model="ListaTickets" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Tickets</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">

            @*Filtro*@
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="ticketId">TicketId</option>
                    <option value="prioridad">Prioridad</option>
                    <option value="clienteId">ClienteId</option>
                </select>
            </div>

            @*Barra Busqueda*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span>
                    </button>
                </div>
            </div>

            @*Boton Crear*@
            <div class="col-md-3 text-end">
                <a href="/Ticket/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>

    @*Tabla*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>TicketId</th>
                <th>Fecha</th>
                <th>Prioridad</th>
                <th>ClienteId</th>
                <th>Asunto</th>
                <th>Descripcion</th>
                <th>TiempoInvertido</th>
                <th>TecnicoId</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ticket in ListaTickets)
            {
                <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.Fecha</td>
                    <td>@ticket.Prioridad</td>
                    <td>@ticket.ClienteId</td>
                    <td>@ticket.Asunto</td>
                    <td>@ticket.Descripcion</td>
                    <td>@ticket.TiempoInvertido</td>
                    <td>@ticket.TecnicoId</td>

                    <td>
                        @*Boton Editar*@
                        <a href="/Ticket/Edit/@ticket.TicketId" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>
                    </td>

                    <td>
                        @*Boton Eliminar*@
                        <a href="/Ticket/Delete/@ticket.TicketId" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <span class="bi bi-dash-circle-fill" style="font-size: 2rem;"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>
@code {
    public List<Tickets> ListaTickets = new List<Tickets>();
    private string valorFiltro = "";
    private string filtro = "Id";

    protected override async Task OnInitializedAsync()
    {
        ListaTickets = await ticketService.Listar(c => true);
    }
    public async Task Buscar()
    {

        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "ticketId" && int.TryParse(valorFiltro, out int TicketId))
            {
                ListaTickets = await ticketService.Listar(t => t.TicketId == TicketId);
            }
            else if (filtro == "prioridad")
            {
                string filtroMinuscula = valorFiltro.ToLower();
                ListaTickets = await ticketService.Listar(t => t.Prioridad.ToLower().Contains(filtroMinuscula));
            }
            else if (filtro == "clienteId" && int.TryParse(valorFiltro, out int ClienteId))
            {
                ListaTickets = await ticketService.Listar(t => t.ClienteId == ClienteId);
            }
            else
            {
                ListaTickets = new List<Tickets>();
            }
        }
        else
        {
            ListaTickets = await ticketService.Listar(t => true);
        }
    }
}
